<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da" th:fragment="html(content)">
<head>
    <meta charset="UTF-8">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
</head>
<body>
<header class="header">
    <a th:href="@{/}">
        <img th:src="@{/images/timer.png}" alt="Logo" class="header-logo">
        <h1 class="header-titel">BILABONNEMENT</h1>
    </a>
</header>
<main th:replace="${content}"></main>
</body>
</html>