<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="da">
<head>
    <meta charset="UTF-8">
    <title>Opret skadesrapport</title>
    <link rel="stylesheet" th:href="@{/css/formular.css}"/>
</head>
<body>
<div th:replace="~{fragments/layout :: html(~{::content})}">
    <div th:fragment="content">
        <div class="forside-container">
            <h2 class="formular-titel">Opret skadesrapport</h2>

            <div th:if="${param.success}" class="success-besked">
                ✓ Skadesrapport er registeret!
            </div>

            <form th:action="@{/registrer-skadesrapport}" method="post">

                <div class="felt-gruppe">
                    <label>Vognnummer</label>
                    <input type="text" name="vognnummer" min="1" placeholder="Indtast vognnummer"/>
                </div>

            <div class="felt-gruppe">
                <label>Lejeaftale ID</label>
                <input type="number" name="lejeaftaleId" min="1" placeholder="Indtast lejeaftaleId"/>
            </div>

            <div class="felt-gruppe">
                <label>Medarbejder ID</label>
                <input type="number" name="medarbejderId" min="1" placeholder="Indtast medarbejder ID"/>
            </div>

            <div class="felt-gruppe">
                <label>Dato</label>
                <input type="date" name="dato"/>
            </div>

            <div class="felt-gruppe">
                <label>Antal skader</label>
                <input type="number" name="antalSkader" min="1" placeholder="Hvor mange skader?"/>
            </div>

            <button type="submit" class="indsend-knap">Fortsæt</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>